workflows/wf_greek_translate_twilio_openAI.json
{
  "name": "wf_whatsapp_greek_translate_twilio",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-greek",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-200, -400],
      "webhookId": "whatsapp-greek-001"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "from",
              "name": "from_number",
              "value": "={{ $json.body.From }}",
              "type": "string"
            },
            {
              "id": "to",
              "name": "to_number",
              "value": "={{ $json.body.To }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message_text",
              "value": "={{ $json.body.Body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-message",
      "name": "Extract Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [20, -400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: \"gpt-4o-mini\", messages: [{ role: \"user\", content: \"You are a Greek language assistant. For: \\\"\" + $json.message_text + \"\\\" Respond EXACTLY like this (plain text, no markdown): English: [input phrase] Pronunciation: [phonetic] Greek: [translation] Greek pronunciation: [phonetic with English letters]\" }] }) }}",
        "options": {}
      },
      "id": "openai-translate",
      "name": "OpenAI Translate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, -400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "translation",
              "name": "translation",
              "value": "={{ $json.choices?.[0]?.message?.content || 'Translation error - please try again' }}",
              "type": "string"
            },
            {
              "id": "from",
              "name": "from_number",
              "value": "={{ $('Extract Message').item.json.from_number }}",
              "type": "string"
            },
            {
              "id": "to",
              "name": "to_number",
              "value": "={{ $('Extract Message').item.json.to_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, -400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/YOUR_ACCOUNT_SID/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "={{ $json.to_number }}"
            },
            {
              "name": "To",
              "value": "={{ $json.from_number }}"
            },
            {
              "name": "Body",
              "value": "={{ $json.translation }}"
            }
          ]
        },
        "options": {}
      },
      "id": "twilio-reply",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, -400]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, -400]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "OpenAI Translate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Translate": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Reply": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
